html,
body {
    overflow-x: hidden;
}

.background {
    background: url(./images/background-category.jpg) center no-repeat #eee;
    background-size: cover;
    background-attachment: fixed;
}

.gray {
    background-color: #eee;
}